.gameboard td {
  border: 3px solid black;
  width: 100px;
  height: 100px;
  font-size: 30px;
}

.setup-screen {

}

.whosTurnIsIt {
  display: none;
}

.gameboard img {
  margin: auto;
}

.gameboard {
  margin: auto;
  text-align: center;
  background-color: white;
}

.player1 {
  background-color: #00FFFF;
  border: 3px solid black;
  width: 56%;
  margin: auto;
  padding: 20px;
}

.player2 {
  background-color: #FFFF00;
  border: 3px solid black;
  width: 56%;
  margin: auto;
  padding: 20px;
}

.gametext {
  text-align: center;
}

.whosTurnIsIt.winner {
  border-top-width: 0px;
}
